@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: "love";
    src: url("fontes/Loving Stroke.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Lobster", sans-serif;

}
h1{
    font-family: love;
    text-align: center;
}
p{
    font-family: "Roboto", monospace;

}